@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

*{
    background-color: rgb(189, 152, 147);
}

h1{
    border: outset 2px black;
    background-color: blanchedalmond;
    padding: 10px;
    width: 500px;
}

h2{
    font-family: 'Kalam';
    color: black;
    border: outset 2px rgb(235, 118, 118);
    border-width: 10px;
    width: 900px;
    background-color: rgb(252, 213, 213);

    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.question{
    font-family: 'Kalam';
    color: black;
    font-size: x-large;

}

.input{
    height: 100px;
    border:inset 2px rgb(240, 155, 155);    
    margin: 20px 5px;
    outline:solid 10px  rgb(240, 155, 155);
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;

}

.box{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.button {
  padding: 10px 2px;
  color: aliceblue;
}

.link{
    color:black;
}

.header-container {
    flex: 1;
}
.body-container { 
    flex: 1;
}

.image-container{
    flex: 1; 
}


.footer-container { 
    flex: 1;
} 